.container {
  display: flex;
  justify-content: center;
}

#chat {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 30%;
  height: 90vh;
}

#header {
  border: 1px solid pink;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#messages {
  height: 95%;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  padding-top: 10px;
}

.from-message {
  display: flex;
  border: 1px solid grey;
  background-color: grey;
  border-radius: 8px;
  color: white;
  width: 100px;
  justify-self: left;
  margin-bottom: 7px;
  padding: 0 12px;
}

.to-message {
  display: flex;
  border: 1px solid blue;
  background-color: blue;
  border-radius: 8px;
  color: white;
  width: 100px;
  justify-self: right;
  margin-bottom: 7px;
  align-self: flex-end;
  padding: 0 12px;
}