* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --from-color: rgb(102, 101, 101);
  --to-color: rgb(36, 138, 255);
  --header-color: rgba(128, 128, 128, 0.973);
}

.container {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
}

#chat {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 375px;
  height: 812px;
}

#header {
  border: 1px solid var(--header-color);
  background-color: var(--header-color);
  height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  /* position: fixed;
  top: 0; */
  z-index: 1;
}

#contact-img{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#messages {
  height: 95%;
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  border: 1px solid black;
  padding: 0 5px;
  /* justify-content: flex-end; */
  overflow-y: auto;
}

.from-message {
  display: flex;
  border: 1px solid var(--from-color);
  background-color: var(--from-color);
  border-radius: 8px;
  color: white;
  max-width: calc(375px / 1.5);
  align-self: flex-start;
  margin-bottom: 7px;
  padding: 0 12px;
  overflow-wrap: break-word;
}

.to-message {
  display: flex;
  border: 1px solid var(--to-color);
  background-color: var(--to-color);
  border-radius: 8px;
  color: white;
  max-width: calc(375px / 1.5);
  margin-bottom: 7px;
  align-self: flex-end;
  padding: 0 12px;
  overflow-wrap: break-word;
}

#input-text {
  border: solid black;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 9px 9px;
}

#input-text input {
  border: .5px solid white;
  border-radius: 10px;
  width: calc(375px / 1.3);
  background-color: black;
  padding: 0 12px;
  height: 28px;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .container {
    height: 100vh;
  }

  #chat {
    width: 100%;
    height: 100%;
  }

  .from-message {
    max-width: calc(375px / 1.5);
  }
  
  .to-message {
    max-width: calc(375px / 1.5);
  }
  
  /* #input-text input {
    
    width: calc(352px / 0.5);;
  } */

  
}