.container {
  display: flex;
  justify-content: center;
}

#chat {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 30%;
  height: 90vh;
}

#header {
  border: 1px solid pink;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}